.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.1;
  letter-spacing: 1px;
  background-image: none;
  margin: 180px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 81px 46px 8px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }
} .u-section-2 {
  min-height: 438px;
  background-image: none;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -144px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 408px;
}

.u-section-2 .u-list-item-1 {
  background-size: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 30px 25px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 26px 30px 25px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 0.9877em;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 26px 30px 25px;
}

.u-section-2 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-size: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 26px 30px 25px;
}

.u-section-2 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.777781rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  margin: 67px auto 42px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 470px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-6 {
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: calc(((100% - 940px) / 2) + 410px);
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 650px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 34px;
    margin-left: auto;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 745px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1286px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 59px;
    margin-bottom: -89px;
  }
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 124px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 40px 101px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -605px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: 25px 0 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: -282px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-bottom: -165px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 892px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dashed;
  position: absolute;
  top: 74px;
  margin-top: 526px;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  border-style: dashed;
  position: absolute;
  top: 119px;
  margin-bottom: -2507px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 60px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: linear-gradient(white, #fffaec);
  width: 1090px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 689px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 20px 19px 7px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 17px auto 0 215px;
}

.u-section-4 .u-text-3 {
  background-image: none;
  margin: 32px 18px 0 22px;
}

.u-section-4 .u-image-1 {
  width: 259px;
  height: 259px;
  margin: 10px 117px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin: 39px 13px 0 17px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 689px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 37px 21px 0;
}

.u-section-4 .u-text-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 23px 20px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-text-7 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 25px 20px 0 24px;
}

.u-section-4 .u-text-8 {
  background-image: none;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 24px 22px 0;
}

.u-section-4 .u-text-10 {
  background-image: none;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 25px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 411px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 777px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 190px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 20px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 106px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 56px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 33px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 126px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: -218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 799px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 269px;
    height: 269px;
    margin-top: 30px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 66px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 799px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 37px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 616px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -202px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 826px;
  }

  .u-section-4 .u-text-5 {
    letter-spacing: 2px;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 891px;
}

.u-section-5 .u-text-1 {
  margin: 50px 407px 0 433px;
}

.u-section-5 .u-gallery-1 {
  width: 856px;
  height: 604px;
  grid-gap: 10px 10px;
  margin: 62px auto 0;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-video-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  margin-bottom: 0;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-4 {
  position: absolute;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-5 {
  position: absolute;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 271px;
  right: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1rem;
  border-style: solid;
  margin: 25px 494px 60px auto;
}

.u-section-5 .u-icon-1 {
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-5 .u-text-1 {
    width: 300px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 36px;
  }

  .u-section-5 .embed-responsive-4 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-5 .u-carousel-control-1 {
    top: 157px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 55px;
    padding: 7px 27px 7px 26px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 9px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(to right, #e5e5e5, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 928px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-style: normal;
  line-height: 2;
  letter-spacing: 10px;
  font-size: 1.5rem;
  margin: 20px 82px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 30px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1026px;
  margin: 10px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 723px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 0 40px;
}

.u-section-6 .u-image-1 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.8);
}

.u-section-6 .u-text-3 {
  margin: 25px 19px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 500;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 19px auto 0 30px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0 40px;
}

.u-section-6 .u-image-2 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.8);
}

.u-section-6 .u-text-5 {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 25px 19px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 19px auto 0 30px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 0 40px;
}

.u-section-6 .u-image-3 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.8);
}

.u-section-6 .u-text-7 {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 25px 19px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  font-weight: 500;
  margin: 20px 20px 0;
}

.u-section-6 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 19px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 662px;
  }

  .u-section-6 .u-image-1 {
    height: 217px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-btn-1 {
    padding: 6px 21px 7px 20px;
  }

  .u-section-6 .u-image-2 {
    height: 217px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-btn-2 {
    padding: 6px 21px 7px 20px;
  }

  .u-section-6 .u-image-3 {
    height: 217px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-btn-3 {
    padding: 6px 21px 7px 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -574px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 792px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-1 {
    height: 249px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-2 {
    height: 249px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-3 {
    height: 249px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 27px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2105px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1913px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 280px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    height: 280px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2476px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    line-height: 1.2;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 27px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 2261px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 353px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 353px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 353px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 688px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 999px;
  margin: 40px auto 50px;
}

.u-section-7 .u-layout-cell-1 {
  background-image: linear-gradient(white, white);
  min-height: 548px;
}

.u-section-7 .u-container-layout-1 {
  padding: 6px 61px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 18px 20px 0;
}

.u-section-7 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("images/paza_studioslogo.png");
  background-position: 50% 50%;
  margin: 41px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  text-transform: none;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin: 20px 10px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 55px 10px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-line-1 {
  width: 283px;
  border-style: dashed;
  transform-origin: left center 0px;
  margin: -138px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 548px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  padding: 10px 82px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: 47px 0 0;
}

.u-section-7 .u-text-6 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  text-decoration: none solid rgb(128, 128, 128);
  font-size: 1rem;
  margin: 13px 0 0;
}

.u-section-7 .u-form-1 {
  margin: 30px 8px 0;
}

.u-section-7 .u-input-1 {
  font-size: 1rem;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-input-2 {
  font-size: 1rem;
}

.u-section-7 .u-input-3 {
  font-size: 1rem;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-input-4 {
  font-size: 1rem;
}

.u-section-7 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: -46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 3px 70px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-2 {
    border-style: none;
    width: 100%;
    padding: 20px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 116px;
    height: 116px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 109px;
  }

  .u-section-7 .u-line-1 {
    width: 306px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 11px 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-image-1 {
    width: 145px;
    height: 145px;
  }

  .u-section-7 .u-text-3 {
    width: 265px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -11px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 78px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 593px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-8 .u-list-1 {
  width: 85%;
  margin: 28px auto 0;
}

.u-section-8 .u-repeater-1 {
  min-height: 278px;
  grid-auto-columns: calc(20% - 4px);
  grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
  grid-gap: 5px 5px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px;
}

.u-section-8 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("images/crdbbank_logo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px;
}

.u-section-8 .u-image-2 {
  width: 131px;
  height: 131px;
  background-image: url("images/huduma_logo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px;
}

.u-section-8 .u-image-3 {
  width: 131px;
  height: 131px;
  background-image: url("images/kina_logo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px;
}

.u-section-8 .u-image-4 {
  width: 131px;
  height: 131px;
  background-image: url("images/sauti_sol_logo_liveanddieinafrika.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 10px;
}

.u-section-8 .u-image-5 {
  width: 131px;
  height: 131px;
  background-image: url("images/boutross_picture.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 119px;
  right: 0;
}

.u-section-8 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 29px auto 60px;
  padding: 5px 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 4px));
  }

  .u-section-8 .u-image-1 {
    width: 65px;
    height: 65px;
  }

  .u-section-8 .u-image-2 {
    width: 65px;
    height: 65px;
  }

  .u-section-8 .u-image-3 {
    width: 65px;
    height: 65px;
  }

  .u-section-8 .u-image-4 {
    width: 65px;
    height: 65px;
  }

  .u-section-8 .u-image-5 {
    width: 65px;
    height: 65px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-8 .u-list-1 {
    width: 641px;
    margin-top: 20px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(25% - 3.75px);
    grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  }

  .u-section-8 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
    margin-top: 13px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    margin-top: -8px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 183px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 143px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 60px 30px;
}

.u-section-9 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 143px;
}

.u-section-9 .u-container-layout-2 {
  padding: 4px 39px;
}

.u-section-9 .u-social-icons-1 {
  min-height: 16px;
  width: 240px;
  min-width: 140px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: 36px;
  margin: 0 auto;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 169px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 18px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 31px;
  }
} .u-section-10 {
  background-image: linear-gradient(#6002ee, #6002ee);
}

.u-section-10 .u-sheet-1 {
  min-height: 656px;
}

.u-section-10 .u-list-1 {
  width: 863px;
  margin: 55px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 545px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 30px 13px;
}

.u-section-10 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/brianabh.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-10 .u-btn-1 {
  border-bottom-style: solid;
  padding: 0;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-icon-1 {
  height: 100%;
}

.u-section-10 .u-icon-2 {
  height: 27px;
}

.u-section-10 .u-icon-3 {
  height: 0;
}

.u-section-10 .u-text-4 {
  font-style: normal;
  text-align: left;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 30px 13px;
}

.u-section-10 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/magana.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-10 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 23px 0 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-10 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-icon-4 {
  height: 100%;
}

.u-section-10 .u-icon-5 {
  height: 27px;
}

.u-section-10 .u-icon-6 {
  height: 0;
}

.u-section-10 .u-text-8 {
  font-style: normal;
  text-align: left;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-9 {
  margin: -301px 1005px 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-10 .u-list-1 {
    width: 860px;
    margin-top: 108px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 574px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-top: -642px;
    margin-right: 295px;
    margin-left: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-10 .u-list-1 {
    width: 676px;
    margin-top: 73px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
    min-height: 593px;
    grid-gap: 9px 9px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-10 .u-image-1 {
    width: 193px;
    height: 193px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }

  .u-section-10 .u-text-3 {
    width: auto;
  }

  .u-section-10 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-10 .u-text-4 {
    margin-left: auto;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-10 .u-image-2 {
    width: 193px;
    height: 193px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }

  .u-section-10 .u-text-7 {
    width: auto;
  }

  .u-section-10 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-10 .u-text-8 {
    margin-left: auto;
  }

  .u-section-10 .u-text-9 {
    width: 202px;
    margin-top: -646px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
    margin-top: 81px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 614px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 13px 10px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 13px 10px;
  }

  .u-section-10 .u-image-2 {
    margin-top: 4px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 33px;
  }

  .u-section-10 .u-text-9 {
    margin-top: -675px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
    margin-top: 73px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-9 {
    width: 203px;
    margin-top: -1141px;
    margin-bottom: 513px;
  }
} .u-section-11 {
  background-image: linear-gradient(white, white);
}

.u-section-11 .u-sheet-1 {
  min-height: 731px;
}

.u-section-11 .u-text-1 {
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-11 .u-blog-1 {
  width: 1090px;
  margin: 40px auto 0;
}

.u-section-11 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 457px;
}

.u-section-11 .u-repeater-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-11 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-1 {
  height: 140px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-11 .u-btn-1 {
  border-bottom-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-11 .u-metadata-1 {
  margin: 21px auto 0 0;
}

.u-section-11 .u-repeater-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-11 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-2 {
  height: 140px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-11 .u-btn-2 {
  border-bottom-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-11 .u-metadata-2 {
  margin: 21px auto 0 0;
}

.u-section-11 .u-repeater-item-3 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 29px 30px;
}

.u-section-11 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-3 {
  height: 140px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-text-7 {
  margin: 30px auto 0 0;
}

.u-section-11 .u-btn-3 {
  border-bottom-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-11 .u-metadata-3 {
  margin: 21px auto 0 0;
}

.u-section-11 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-11 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-11 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-11 .u-icon-1 {
  font-size: 1.3334em;
}

@media (max-width: 1199px) {
  .u-section-11 .u-blog-1 {
    width: 940px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-blog-1 {
    width: 720px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-blog-1 {
    width: 540px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-btn-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-11 .u-blog-1 {
    width: 340px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/landingpage.png");
}

.u-section-12 .u-sheet-1 {
  min-height: 728px;
}

.u-section-12 .u-group-1 {
  width: 486px;
  min-height: 618px;
  height: auto;
  margin: 60px auto 50px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-text-1 {
  font-size: 1.5rem;
  margin: 30px 62px 0;
}

.u-section-12 .u-form-1 {
  height: 445px;
  width: 441px;
  margin: 50px auto 0;
}

.u-section-12 .u-label-1 {
  width: 210px;
}

.u-section-12 .u-input-1 {
  background-image: none;
}

.u-section-12 .u-label-2 {
  width: 210px;
}

.u-section-12 .u-input-2 {
  background-image: none;
}

.u-section-12 .u-form-group-3 {
  margin-left: 0;
}

.u-section-12 .u-label-3 {
  width: 210px;
}

.u-section-12 .u-input-3 {
  background-image: none;
}

.u-section-12 .u-label-4 {
  width: 210px;
}

.u-section-12 .u-input-4 {
  background-image: none;
}

.u-section-12 .u-form-group-5 {
  margin-left: 0;
}

.u-section-12 .u-label-5 {
  width: 210px;
}

.u-section-12 .u-btn-1 {
  font-size: 1rem;
  font-family: 'PT Sans',sans-serif;
  font-weight: normal;
  background-image: none;
  display: inline !important;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
   .u-section-12 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-12 .u-group-1 {
    width: 519px;
    min-height: 631px;
    height: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-12 .u-form-1 {
    height: 506px;
    width: 438px;
    margin-right: 12px;
    margin-left: 27px;
  }

  .u-section-12 .u-btn-2 {
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-bottom: 35px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-12 .u-form-1 {
    width: 473px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-12 .u-form-1 {
    height: 466px;
    width: 466px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-12 .u-group-1 {
    min-height: 523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-12 .u-form-1 {
    height: 445px;
    width: 300px;
    margin-top: 20px;
  }
} .u-section-13 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-13 .u-sheet-1 {
  min-height: 380px;
}

.u-section-13 .u-map-1 {
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-map-1,
.u-section-13 .u-map-1:before,
.u-section-13 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-13 .u-map-1.u-map-1.u-map-1:hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-13 .u-map-1 {
  border-color: transparent !important;
}

.u-section-13 .u-map-1.u-map-1.u-map-1.hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-13 .u-map-1 {
  border-color: transparent !important;
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 101px;
}

.u-section-14 .u-list-1 {
  width: 865px;
  margin: -125px auto 20px;
}

.u-section-14 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 206px;
}

.u-section-14 .u-list-item-1 {
  background-size: auto;
}

.u-section-14 .u-container-layout-1 {
  padding: 10px 29px 0;
}

.u-section-14 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 1px auto 0;
  padding: 5px;
}

.u-section-14 .u-text-1 {
  font-size: 1.125rem;
  margin: 26px auto 0;
}

.u-section-14 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-14 .u-list-item-2 {
  background-image: none;
}

.u-section-14 .u-container-layout-2 {
  padding: 10px 29px 0;
}

.u-section-14 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 1px auto 0;
  padding: 5px;
}

.u-section-14 .u-text-3 {
  font-size: 1.125rem;
  margin: 26px auto 0;
}

.u-section-14 .u-text-4 {
  font-size: 1rem;
  background-image: none;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-14 .u-list-item-3 {
  background-size: auto;
}

.u-section-14 .u-container-layout-3 {
  padding: 10px 29px 0;
}

.u-section-14 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 1px auto 0;
  padding: 5px;
}

.u-section-14 .u-text-5 {
  font-size: 1.125rem;
  margin: 26px auto 0;
}

.u-section-14 .u-text-6 {
  font-size: 1rem;
  background-image: none;
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-14 .u-list-1 {
    margin-top: -82px;
    margin-bottom: -78px;
  }

  .u-section-14 .u-repeater-1 {
    min-height: 177px;
  }

  .u-section-14 .u-text-2 {
    margin-bottom: 10px;
  }

  .u-section-14 .u-text-4 {
    margin-bottom: 10px;
  }

  .u-section-14 .u-text-6 {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-14 .u-list-1 {
    width: 705px;
    margin-top: -81px;
    margin-bottom: 0;
  }

  .u-section-14 .u-repeater-1 {
    min-height: 192px;
  }

  .u-section-14 .u-icon-1 {
    margin-top: 3px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-14 .u-icon-2 {
    margin-top: 3px;
  }

  .u-section-14 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-14 .u-icon-3 {
    margin-top: 3px;
  }

  .u-section-14 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-6 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-14 .u-list-1 {
    width: 540px;
  }

  .u-section-14 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px) calc(33.3333% - 4.66667px);
    grid-gap: 7px 7px;
    min-height: 210px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-14 .u-list-1 {
    width: 318px;
  }

  .u-section-14 .u-repeater-1 {
    min-height: 444px;
    grid-template-columns: 100%;
  }

  .u-section-14 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-14 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-14 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-14 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-14 .u-text-5 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-14 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 138px;
}

.u-section-15 .u-text-1 {
  font-size: 1rem;
  background-image: none;
  text-transform: none;
  font-weight: 500;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-15 .u-icon-1 {
  vertical-align: 0px;
  margin-left: 5px;
  font-size: 1.125em;
}

.u-section-15 .u-form-1 {
  height: 69px;
  margin: 10px 0 20px;
}

.u-section-15 .u-label-1 {
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-15 .u-input-1 {
  letter-spacing: normal;
}

.u-section-15 .u-form-group-2 {
  margin-left: 0;
}

.u-section-15 .u-label-2 {
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-15 .u-input-2 {
  letter-spacing: normal;
}

.u-section-15 .u-form-group-3 {
  margin-left: 0;
}

.u-section-15 .u-label-3 {
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-15 .u-input-3 {
  letter-spacing: normal;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-label-1 {
    font-size: 0.875rem;
  }

  .u-section-15 .u-label-2 {
    font-size: 0.875rem;
  }

  .u-section-15 .u-label-3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-form-1 {
    height: 258px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    font-weight: 600;
    text-transform: uppercase;
  }

  .u-section-15 .u-input-1 {
    letter-spacing: 1px;
  }

  .u-section-15 .u-input-2 {
    letter-spacing: 1px;
  }

  .u-section-15 .u-input-3 {
    letter-spacing: 1px;
  }

  .u-section-15 .u-btn-1 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
}